In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r'C:\Users\razi\Desktop\Book Recommentation\Books.csv')
Ratings = pd.read_csv(r'C:\Users\razi\Desktop\Book Recommentation\Ratings.csv')
Users = pd.read_csv(r'C:\Users\razi\Desktop\Book Recommentation\Users.csv')

C:\Users\razi\AppData\Local\Temp\ipykernel_2996\490800808.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r'C:\Users\razi\Desktop\Book Recommentation\Books.csv')

In [3]:
data.head(1)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...

In [4]:
data.drop(['Image-URL-S','Image-URL-M','Image-URL-L'], axis=1, inplace=True)

In [5]:
data.head(1)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press

In [6]:
Users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [7]:
Ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [8]:
data=data.merge(Ratings,on='ISBN')

In [9]:
data=data.merge(Users,on='User-ID')

In [10]:
data.isna().sum()

ISBN                        0
Book-Title                  0
Book-Author                 1
Year-Of-Publication         0
Publisher                   2
User-ID                     0
Book-Rating                 0
Location                    0
Age                    277835
dtype: int64

In [11]:
data['Age'] = data['Age'].fillna(data['Age'].mode()[0])

In [12]:
data.isna().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
User-ID                0
Book-Rating            0
Location               0
Age                    0
dtype: int64

In [13]:
data.dropna(inplace=True)

In [14]:
data.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'User-ID', 'Book-Rating', 'Location', 'Age'],
      dtype='object')

In [15]:
data['tags'] =  data['Book-Author']+data['Publisher'] +data['Location']

In [16]:
data.drop(['Book-Author','Publisher','Location','ISBN'],axis=1,inplace=True)

In [17]:
data.head(1)

,Book-Title,Year-Of-Publication,User-ID,Book-Rating,Age,tags
0,Classical Mythology,2002,2,0,18.0,Mark P. O. MorfordOxford University Pressstock...

In [18]:
data.shape

(1031133, 6)

In [19]:
data.drop(data.index[4850:1031133], inplace=True)

In [20]:
data['tags']

0       Mark P. O. MorfordOxford University Pressstock...
1       Richard Bruce WrightHarperFlamingo Canadatimmi...
2       Carlo D'EsteHarperPerennialtimmins, ontario, c...
3       Gina Bari KolataFarrar Straus Girouxtimmins, o...
4       E. J. W. BarberW. W. Norton &amp; Companytimmi...
                              ...
4845                Whitney OttoRandom Housen/a, n/a, n/a
4846                     Debbie MacomberMiran/a, n/a, n/a
4847            Ayun HallidaySeal Press (WA)n/a, n/a, n/a
4848                     Gaby HauptmannPipern/a, n/a, n/a
4849               Bette Bao LordHarperTorchn/a, n/a, n/a
Name: tags, Length: 4850, dtype: object

In [21]:
data['tags'] = data['tags'].apply(lambda x:x.lower())

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

In [23]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [24]:
vectors = cv.fit_transform(data['tags']).toarray()

In [25]:
cv.get_feature_names()

C:\Users\razi\anaconda3\envs\Book\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['12',
 '62n',
 'aarsensteeple',
 'abagnaleputnam',
 'abbeyace',
 'abbeyavon',
 'abbeyballantine',
 'abbeyperennialn',
 'abbottauthorhousen',
 'abbottdover',
 'abbottshambhalan',
 'ablowst',
 'achebeanchorn',
 'achebeballantine',
 'adam',
 'adams',
 'adamsandrews',
 'adamsavonn',
 'adamsballantine',
 'adamsharperbusinessn',
 'adamsheynen',
 'adamsonsignet',
 'adamspan',
 'adamspocketn',
 'adamsrandom',
 'adamssimon',
 'adeline',
 'adriana',
 'adult',
 'adultn',
 'agatha',
 'agn',
 'ahlbergpenguin',
 'ai',
 'aidan',
 'akalayemece',
 'ake',
 'al',
 'alain',
 'alan',
 'alayne',
 'albert',
 'albertberkley',
 'alberto',
 'albombroadwayn',
 'albomdoubledayn',
 'albomhyperionn',
 'albomhyperionottawa',
 'alcoholics',
 'alcottdelln',
 'alcottpocketn',
 'alcottsignet',
 'aldous',
 'alec',
 'alessandro',
 'alessandroavonn',
 'alex',
 'alexander',
 'alexanderpuffin',
 'alexandersteeple',
 'alexanderyearling',
 'alexanderyearlingn',
 'alexandra',
 'alexandre',
 'alexiewarner',
 'alice',
 'alisa',
 'alisatir',
 'aliscribnern',
 'alison',
 'allan',
 'allemanharpercollinsn',
 'allen',
 'allenbaughfiresiden',
 'allendebantam',
 'allendefeltrinellin',
 'allendeharpercollins',
 'allendeharpercollinsn',
 'allendeharpertorchn',
 'allendeperennialn',
 'allendeplaza',
 'allenderayon',
 'allendesuhrkampn',
 'allenhyperion',
 'allenwarner',
 'allison',
 'allisondutton',
 'allisonplume',
 'alpersheynen',
 'altenbantam',
 'alvarezplume',
 'alvin',
 'amanda',
 'amberllewellyn',
 'amblerdiogenes',
 'ambrosesimon',
 'amelie',
 'amer',
 'american',
 'ammanitidistribooks',
 'amorypenguin',
 'amourbantamn',
 'amp',
 'amy',
 'amã',
 'ana',
 'anansi',
 'anayawarner',
 'anchee',
 'andersenavonn',
 'andersenzebra',
 'andersonbantamn',
 'andersoncandlewick',
 'andersonharperentertainmentn',
 'andersonspeakn',
 'andre',
 'andrea',
 'andreas',
 'andrew',
 'andrewsharpercollinsn',
 'andrewsharpersanfranciscon',
 'andrewspocket',
 'andrewspocketn',
 'angela',
 'angeloubantamn',
 'angelourandom',
 'ania',
 'anita',
 'ann',
 'anna',
 'anne',
 'annette',
 'annie',
 'anonymoushazelden',
 'anonymouswestbow',
 'ansayharpercollinsn',
 'ansayperennialn',
 'anthony',
 'anthonyballantine',
 'anthonydel',
 'anthonytor',
 'antoine',
 'antonia',
 'antonio',
 'aola',
 'apkarian',
 'applegateapple',
 'applegatescholasticn',
 'applen',
 'applicable',
 'aramburutusquets',
 'archer',
 'archerharpercollins',
 'archerharpercollinsn',
 'archerharpertorchn',
 'archerhodder',
 'archernot',
 'archerst',
 'ardashir',
 'ardella',
 'areheart',
 'ariel',
 'ariella',
 'arlene',
 'armistead',
 'armstronganchor',
 'armstrongberkley',
 'armstrongviking',
 'arnauld',
 'arnold',
 'arnoldharlequinn',
 'art',
 'arthur',
 'artsn',
 'arturo',
 'arundhati',
 'asan',
 'ashbarnes',
 'ashley',
 'ashleylove',
 'asimovbantam',
 'asimovdel',
 'asimovplaza',
 'asimovspectran',
 'asimovwarner',
 'assia',
 'assoc',
 'association',
 'associationn',
 'astleytrafalgar',
 'astrid',
 'atkinsavon',
 'atkinsonpicadorn',
 'atlantic',
 'atlanticn',
 'atul',
 'atwoodanchor',
 'atwoodanchorn',
 'atwoodballantine',
 'atwoodbantamn',
 'atwoodfawcett',
 'atwoodnan',
 'atwoodnew',
 'atwoodtrafalgar',
 'atwoodwarner',
 'atxagas',
 'audio',
 'audiobooksn',
 'audion',
 'audrey',
 'auelbantam',
 'auelbantamn',
 'auelcrown',
 'auelcrownn',
 'augusten',
 'aureliuspenguin',
 'austenbantamn',
 'austenntc',
 'austenoxford',
 'austenpenguin',
 'austenplaza',
 'austenpuffin',
 'austensignet',
 'austeranagraman',
 'austerfaber',
 'austerhenry',
 'austerpenguin',
 'austerpicadorn',
 'australia',
 'autumn',
 'availn',
 'ayelet',
 'ayn',
 'ayun',
 'bachavonn',
 'bachdell',
 'bachdelln',
 'bachharpercollinsn',
 'bachmanheynen',
 'bachmansignet',
 'backerberkley',
 'bagley',
 'baglioscholasticn',
 'bailey',
 'baireharlequinn',
 'bakereosn',
 'bakervintage',
 'baldacciwarner',
 'balsamovirgin',
 'ban',
 'banana',
 'banerjee',
 'bangsdorchester',
 'bankpenguin',
 'banksabacusn',
 'banksharpertrophyn',
 'banksheynen',
 'bankssimon',
 'bankviking',
 'bannonout',
 'bantamn',
 'bantockchronicle',
 'bao',
 'barbara',
 'barberw',
 'bari',
 'bariccobiblioteca',
 'bariccodistribooks',
 'bariccogallimardn',
 'bariccoharpercollins',
 'bariccorizzolin',
 'barjavelgallimard',
 'barjavelgallimardn',
 'barkanbig',
 'barker',
 'barkerharpercollins',
 'barkerharpertorchn',
 'barnesporcupine',
 'barnettpaperjacksn',
 'barnettpocketn',
 'barral',
 'barraln',
 'barravon',
 'barravonn',
 'barrberkley',
 'barregoldmannn',
 'barrekiepenheuer',
 'barrettw',
 'barrg',
 'barrismiramaxn',
 'barronbantam',
 'barrontor',
 'barrputnam',
 'barry',
 'barryballantine',
 'barryberkley',
 'barrydoubledayn',
 'barryhenry',
 'barryrandom',
 'barrysimon',
 'barryvintagen',
 'barsocchinipocketn',
 'bartholomew',
 'bassn',
 'batchelorpublishamerican',
 'bathroom',
 'battlepenguin',
 'battleviking',
 'baubyr',
 'baudinorocn',
 'bauerharlequinn',
 'baxterdel',
 'baxtermiran',
 'bay',
 'bazinlivre',
 'beachaladdinn',
 'beaglerocn',
 'beall',
 'bearballantine',
 'beardworkman',
 'beari',
 'beartor',
 'beatrice',
 'beattiescribnertimmins',
 'beaumanivy',
 'beckeravonn',
 'beckerlittle',
 'beckerworkman',
 'beecher',
 'beer',
 'beharhyperionn',
 'bei',
 'beigbederanagraman',
 'beigbederb',
 'beigbederdistribooksn',
 'belleriverhead',
 'belva',
 'ben',
 'benchleyrandom',
 'benchleyst',
 'benedictmariner',
 'beniteztouchstonen',
 'benjamin',
 'bennettsimon',
 'bennettzebra',
 'bennifeltrinellin',
 'bentley',
 'benton',
 'berendtrandom',
 'berendtvintage',
 'berenstainrandom',
 'bergatria',
 'bergatriaottawa',
 'bergballantine',
 'bergberkley',
 'bergeraufbau',
 'bergmann',
 'bergperennial',
 'bergputnam',
 'bergrandom',
 'berhard',
 'berke',
 'berlinskirandom',
 'berlitzharper',
 'bernadette',
 'bernallplough',
 'bernallpocketn',
 'bernard',
 'bernardo',
 'bernd',
 'bernhard',
 'bernhardtballantine',
 'bernheimeranchor',
 'bernierespantheonn',
 'berrypantheon',
 'bertolt',
 'beth',
 'betina',
 'betsy',
 'bette',
 'bettie',
 'betty',
 'beverley',
 'beverleysignet',
 'beverleytopazn',
 'beverleyzebra',
 'beverly',
 'bichlerpattlochn',
 'billie',
 'binchybantam',
 'binchydell',
 'binchydelln',
 'binchydutton',
 'binchysignet',
 'binghamivy',
 'binnie',
 'birdavonn',
 'birgit',
 'birnbachandrews',
 'bkn',
 'blackstonfleming',
 'blakedover',
 'blakefawcett',
 'blancberkley',
 'blanchardbantam',
 'blaunerlittle',
 'blaylockdel',
 'blissettharcourtn',
 'blockharpertrophyn',
 'blocksignet',
 'bloomharpercollinsn',
 'bloomvintage',
 'blumebantam',
 'blumedell',
 'blumelaure',
 'blumepocket',
 'blumepocketn',
 'blumeyearling',
 'blumeyearlingn',
 'blysound',
 'bn',
 'bob',
 'bobrickprice',
 'bodie',
 'bohjalianrandom',
 'bohjaliantouchstonen',
 'bohjalianvintagen',
 'bohringerfolion',
 'bolldeutscher',
 'bombeckballantine',
 'bombeckharpercollinsn',
 'bombeckharpertorchn',
 'bondwarner',
 'bonnefoygallimardn',
 'bonneralgonquin',
 'bonnerberkley',
 'book',
 'bookn',
 'books',
 'booksgolden',
 'booksn',
 'booksottawa',
 'bookstimmins',
 'bookstroll',
 'boombaker',
 'boombantam',
 'boomfleming',
 'borchardtballantine',
 'borgenichtquirk',
 'borgeslectorum',
 'boris',
 'bosnakperennial',
 'boultonmcarthur',
 'boundn',
 'bourgeoisscholasticn',
 'bowenharlequinn',
 'boydavonn',
 'boylanbroadwayn',
 'boylenew',
 'boylepenguin',
 'boyleviking',
 'boyntonlittle',
 'brace',
 'brad',
 'bradburyavonn',
 'bradburybantam',
 'bradburydel',
 'bradburydistribooks',
 'bradburyhoughton',
 'bradburyjoshua',
 'bradburyminotauron',
 'bradbydoubledayn',
 'bradford',
 'bradfordballantine',
 'bradfordbantam',
 'bradforddell',
 'bradforddoubledayn',
 'bradfordharpercollinsn',
 'bradfordharpertorchn',
 'bradforduniversity',
 'bradley',
 'bradleydaw',
 'bradleydel',
 'bradleylgfn',
 'bradleyrocn',
 'bradleytor',
 'brady',
 'bradypocketn',
 'bram',
 'brandrethviking',
 'brantonbloomsbury',
 'braseltonballantine',
 'brasharesdelacorte',
 'braunjove',
 'braunputnam',
 'breashearssimon',
 'breathedlittle',
 'breathnachwarner',
 'brechtdistribooks',
 'breena',
 'brendan',
 'bret',
 'brettprime',
 'brewerst',
 'brian',
 'brianw',
 'brienbroadwayn',
 'briensimon',
 'brighttouchstone',
 'brighttyndale',
 'brinbantam',
 'brinspectra',
 'brinspectran',
 'britedelln',
 'brittainharpercollins',
 'brn',
 'broadricksilhouetten',
 'brockmannivy',
 'brockmannsilhouetten',
 'brokawrandom',
 'brontebantamn',
 'brontedorset',
 'brontedover',
 'brontentc',
 'brontepenguin',
 'brontesignet',
 'brontetor',
 'brookfieldtrafalgar',
 'brooks',
 'brooksanchor',
 'brooksdel',
 'brooksonyx',
 'brookspenguin',
 'brooksviking',
 'brown',
 'brownatrian',
 'brownbantam',
 'brownbantamn',
 'brownberkley',
 'browndoubledayn',
 'brownethree',
 'brownfanfaren',
 'brownharlequinn',
 'brownlã',
 'brownmira',
 'brownmiran',
 'brownn',
 'brownottawa',
 'brownpocket',
 'brownpocketn',
 'brownreplica',
 'brownryland',
 'brownsimon',
 'brownst',
 'brownthomas',
 'brownwarner',
 'bruce',
 'brulonyx',
 'bryan',
 'bryce',
 'bryn',
 'brysonbantam',
 'brysonbroadway',
 'brysonbroadwayn',
 'brysonperennialn',
 'bucaysudamericanan',
 'buchananavonn',
 'buchanpenguin',
 'bucheistersilhouetten',
 'buckpocketn',
 'bud',
 'buffawarner',
 'buffettfawcett',
 'buffettharcourtn',
 'bugliosinew',
 'bukowskieccon',
 'bukowskifeltrinellin',
 'buranamiramaxn',
 'burcellharpertorchn',
 'burkeavonn',
 'burkehyperion',
 'burkepocketn',
 'burkered',
 'burkesignet',
 'burkettharpercollins',
 'burnettharperfestivaln',
 'burnettharpertrophyn',
 'burnettplaymore',
 'burnettrandom',
 'burnetttv',
 'burnsdell',
 'burnsdeltan',
 'burnspenguin',
 'burroughsgrove',
 'burroughspicador',
 'burroughsst',
 'busbeeharper',
 'bushnellatlantic',
 'bushnellgrove',
 'bushnelltrafalgar',
 'bushnellwarner',
 'busseymarconi',
 'butalafitzhenry',
 'butlerwarner',
 'byarspuffin',
 'byattvintagen',
 'byerrumsignet',
 'byr',
 'byron',
 'ca',
 'cabotavon',
 'cabotavonn',
 'cabotharpertrophyn',
 'cabotpan',
 'cage',
 'cahillanchorn',
 'calafertegallimardn',
 'caldwellballantine',
 'caldwelldial',
 'caleb',
 'california',
 'calkins',
 'calpe',
 'calvin',
 'calvinoa',
 'calvinodtvn',
 'cameron',
 'camilo',
 'camongallimardn',
 'camp',
 'campanan',
 'campmiran',
 'camusgallimard',
 'camusvintagen',
 'canada',
 'canadan',
 'canadaottawa',
 'canadatimmins',
 'canadian',
 'candace',
 'canfieldhci',
 'canfieldhcin',
 'canfieldhealth',
 'caninrandom',
 'cannavonn',
 'cannellecon',
 'cantorperennialn',
 'cantwellpenguin',
 'capotevintagen',
 'carasbbs',
 'carcaterraballantine',
 'carcaterrafawcett',
 'cardbookcraftn',
 'cardforgen',
 'cardharpertorchn',
 'cardtor',
 'careyavonn',
 'careyharpercollins',
 'careystar',
 'careytor',
 'carina',
 'carl',
 'carla',
 'carlephilomel',
 'carlinhyperionn',
 'carlo',
 'carloa',
 'carlos',
 'carlsonhyperionn',
 'carlton',
 'carly',
 'carmen',
 'carnegiepocketn',
 'carol',
 'carole',
 'caroline',
 'carolyn',
 'carolyne',
 'carpet',
 'carrbantam',
 'carreballantine',
 'carrie',
 'carrnew',
 'carroll',
 'carrollharper',
 'carrollpenguin',
 'carrollplume',
 'carrpocketn',
 'carrã',
 'carson',
 'carsonmariner',
 'carteralfred',
 'cartersimon',
 'carteruniversity',
 'cartervintage',
 'cartwrighte',
 'carverst',
 'carvillerandom',
 'casanovapleasant',
 'caseballantine',
 'casefawcett',
 'caseyhazelden',
 'cashharpersanfranciscon',
 'cassandra',
 'cassidyklutz',
 'castleberkley',
 'castoldin',
 'catespocketn',
 'catherhoughton',
 'catherine',
 'catherrandom',
 'cathi',
 'cathleen',
 'cathy',
 'caulfieldsimon',
 'caveleisure',
 'cay',
 'cecilia',
 'celacontinental',
 'celia',
 'center',
 'cercastusquetsn',
 'chabonpicadorn',
 'chaim',
 'chair',
 'chalkerdel',
 'chamberlainmiran',
 'champlin',
 'champs',
 'chandler',
 'chandlerrandom',
 'chandlervintage',
 'chapel',
 'charlaine',
 'charles',
 'charlotte',
 'chartern',
 'chaseberkley',
 'chboskymtvn',
 'chepaitisbantamn',
 'cheryl',
 'chevalierdutton',
 'chevalierplume',
 'chevaliersantillana',
 'chiaveriniplume',
 'chicago',
 'chihgreen',
 'childjove',
 'children',
 'childrenn',
 'childrens',
 'childressballantine',
 'chin',
 'chinua',
 'chirbesheynen',
 'chitra',
 'chiubantam',
 'chloe',
 'choballantine',
 'chomskyseven',
 'chopranew',
 'choyharpercollins',
 'chris',
 'christenberrysilhouette',
 'christian',
 'christiane',
 'christie',
 'christiebantam',
 'christieberkley',
 'christiedowntown',
 'christieharper',
 'christiele',
 'christielibrairie',
 'christiest',
 'christina',
 'christine',
 'christopher',
 'christopherklettn',
 'christopherlittle',
 'christopherwilhelm',
 'christy',
 'chrstine',
 'chuallen',
 'chuck',
 'chuteticknor',
 'chutewarner',
 'cilleybantamn',
 'cindy',
 'ciresidelacorte',
 'ciresideltan',
 'cisnerosvintagen',
 'city',
 'civardiusborne',
 'claire',
 'clancyberkley',
 'clancyg',
 'clancyprime',
 'clancyputnam',
 'clara',
 'clare',
 'clarissa',
 'clarkbantam',
 'clarkdelln',
 'clarkebantamn',
 'clarkefree',
 'clarkelittle',
 'clarklgfn',
 'clarkpicadorn',
 'clarkplaza',
 'clarkpocket',
 'clarkpocketn',
 'clarkscribnern',
 'clarksimon',
 'clarkst',
 'clarkwarner',
 'classicsn',
 'claude',
 'claudia',
 'clavellbantam',
 'cleageperennialn',
 'clearyharpertrophyn',
 'cleveland',
 'clevelandpenguin',
 'clifford',
 'climentn',
 'clintonsimon',
 'clio',
 'clive',
 'club',
 'clyde',
 'coastn',
 'cobendelacorte',
 'cobendell',
 'cobendelln',
 'cobendutton',
 'cochrantor',
 'coelberkley',
 'coelhodiogenes',
 'coelhodistribooksn',
 'coelhoharpersanfranciscon',
 'coelhoplaneta',
 'coerryearlingn',
 'coetzeedistribooksn',
 'coetzeepenguin',
 'coetzeeviking',
 'colapintoharpercollins',
 'coleharpertrophyn',
 'colfermiramax',
 'colferullstein',
 'colganwarner',
 'colin',
 'colleen',
 'collegen',
 'collinsbantam',
 'collinsbantamn',
 'collinspocketn',
 'collinssimon',
 'colombonuova',
 'colum',
 'comicsn',
 'communications',
 'communicationsn',
 'communicationstimmins',
 'comn',
 'company',
 'companyn',
 'companytimmins',
 'conan',
 'conantcrimelinen',
 'conleyandrews',
 'conlonseal',
 'connelljove',
 'connellylittle',
 'connellyst',
 'connellywarner',
 'conner',
 'connie',
 'connollypocket',
 'connor',
 'conroybantam',
 'conroyhoughton',
 'conroynan',
 'constantinefirebird',
 'contemporary',
 'conwayvintage',
 'cookberkley',
 'cookdell',
 'cookg',
 'cookonyx',
 'cookpantheon',
 'cookpenguin',
 'cookputnam',
 'cookrocn',
 'cookvintage',
 'cooneylaure',
 'cooneylaurel',
 'cooneystarfiren',
 'coontsbantam',
 'coontsdell',
 'coontsst',
 'cooperaladdinn',
 'coopermodern',
 'coopersimon',
 'coottawa',
 'coraghessan',
 'cordinglyrandom',
 'corina',
 'corlettpocketn',
 'cormac',
 'cormierlaurel',
 'cornelia',
 'cornickharlequinn',
 'cornwellavonn',
 'cornwellberkley',
 'cornwellgoldmann',
 'cornwellgoldmannn',
 'cornwellharper',
 'cornwellharperaudion',
 'cornwellharpercollins',
 'cornwellpocketn',
 'cornwellputnam',
 'cornwellscribnern',
 'corp',
 'corpn',
 'corporationn',
 'corpsn',
 'corpspeace',
 'corrie',
 'corsi',
 'cosbybantam',
 'cosbyhyperionn',
 'coulteravonn',
 'coulterjove',
 'coulteronyx',
 'coulterputnam',
 'coultersignet',
 'couplandvintage',
 'couplandwashington',
 'court',
 'courtenayballantine',
 'courtenaysmithmark',
 'coveyfiresiden',
 'coveyfree',
 'covillealaddinn',
 'covingtonpenguin',
 'cowleyberkley',
 'coxst',
 'coyleberkley',
 'coylepocketn',
 'craig',
 'craighead',
 'craiscrimelinen',
 'craishyperionn',
 'cramereosn',
 'cranedover',
 'cranereader',
 'cranetor',
 'cravenlaureln',
 'cravensimon',
 'creativeharperresourcen',
 'creechharpertrophyn',
 'crichtonalfred',
 'crichtonavon',
 'crichtonballantine',
 'crichtondistribooks',
 'crichtonediciones',
 'crichtonharpercollinsn',
 'crichtonsignet',
 'crimen',
 'crispinbantam',
 'cristina',
 'criswellharlequinn',
 'crokeabbeville',
 'crombieberkley',
 'cronkiteballantine',
 'crosbyavonn',
 'crossaufbau',
 'crossballantine',
 'crossley',
 'crowleyst',
 'crowperennialn',
 'crusiemiran',
 'crusiest',
 'cruz',
 'cruztouchstonen',
 'cunninghamfarrar',
 'cunninghampicador',
 'cunninghampicadorn',
 'cunninghampicadorottawa',
 'currentsn',
 'currydoubledayn',
 'curtis',
 'curtiss',
 'curtissharmonyn',
 'curven',
 'cushmanharpertrophyn',
 'cusslerbantam',
 'cusslerberkley',
 'cusslerpocketn',
 'cusslersimon',
 ...]

In [26]:
from nltk.stem.porter import PorterStemmer

In [27]:
ps = PorterStemmer()

In [28]:
def stem_fun(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [29]:
data['tags'] = data['tags'].apply(stem_fun)

In [30]:
from sklearn.metrics.pairwise import cosine_similarity

In [31]:
similarity = cosine_similarity(vectors)

In [32]:
similarity[0]

array([1., 0., 0., ..., 0., 0., 0.])

In [33]:
distance = similarity[3]

In [35]:
Book_list = sorted(list(enumerate(distance)),reverse=True, key=lambda x:x[1])[1:11]
for i in Book_list:
    print(data['Book-Title'][i[0]])

Decision in Normandy
PLEADING GUILTY
Where You'll Find Me: And Other Stories
Jane Doe
The Five People You Meet in Heaven
Life of Pi
She's Come Undone (Oprah's Book Club)
A Time to Kill
The Hours: A Novel
Five Quarters of the Orange

In [36]:
def Book_Recommend(Book):
    Book_index = data[data['Book-Title']==Book].index[0]
    distance = similarity[Book_index]
    Book_list = sorted(list(enumerate(distance)),reverse=True, key=lambda x:x[1])[1:11]
    for i in Book_list:
        print(data['Book-Title'][i[0]])

In [39]:
data

,Book-Title,Year-Of-Publication,User-ID,Book-Rating,Age,tags
0,Classical Mythology,2002,2,0,18.0,mark p. o. morfordoxford univers pressstockton...
1,Clara Callan,2001,8,5,33.0,richard bruce wrightharperflamingo canadatimmi...
2,Decision in Normandy,1991,8,0,33.0,"carlo d'esteharperperennialtimmins, ontario, c..."
3,Flu: The Story of the Great Influenza Pandemic...,1999,8,0,33.0,"gina bari kolatafarrar strau girouxtimmins, on..."
4,The Mummies of Urumchi,1999,8,0,33.0,e. j. w. barberw. w. norton &amp; companytimmi...
...,...,...,...,...,...,...
4845,A Collection of Beauties at the Height of Thei...,2002,11676,0,33.0,"whitney ottorandom housen/a, n/a, n/a"
4846,The Snow Bride,2003,11676,7,33.0,"debbi macombermiran/a, n/a, n/a"
4847,No Touch Monkey: And Other Travel Lessons Lear...,2003,11676,10,33.0,"ayun hallidays press (wa)n/a, n/a, n/a"
4848,Suche impotenten Mann fÃ?Â¼rs Leben.,1995,11676,6,33.0,"gabi hauptmannpipern/a, n/a, n/a"
4849,Spring Moon: A Novel of China,1994,11676,8,33.0,"bett bao lordharpertorchn/a, n/a, n/a"

In [41]:
Book_Recommend('The Mummies of Urumchi')

Coke Stop in Emo: Adventures of a Long-Distance Paddler
Decision in Normandy
PLEADING GUILTY
Where You'll Find Me: And Other Stories
Jane Doe
The Five People You Meet in Heaven
Life of Pi
She's Come Undone (Oprah's Book Club)
A Time to Kill
The Hours: A Novel

In [42]:
import pickle

In [44]:
pickle.dump(data,open('book.pkl','wb'))

In [45]:
pickle.dump(similarity,open('similarity.pkl','wb'))